@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

ul {
  display: flex;
  list-style: none;
}

.bookstore-heading li, .bookstore-heading select {
  padding-right: 10px;
  margin-right: 50px;
  width: 59px;
  height: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  padding-top: 18px;
  cursor: pointer;
}
.bookstore-heading select {
  width: 135px;
  padding-top: unset;
  padding-left: 3px;
}

.bookstore-heading li:first-child {
  width: 250px;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  padding-top: 0;
}

.app-logo {
  width: 60px;
  vertical-align: middle;
  padding: 5px;
  margin-right: 23px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 60px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 18px;
  background-color: #fff;
}

.fa-user-circle {
  padding-top: 25px;
  color: #0290ff;
}

.content {
  background-color: #faf8f8;
  margin-top: -35px;
}

.book-row {
  height: 170px;
  padding: 32px 119px 26px 27px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.category {
  width: 49px;
  height: 18px;
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  width: 197px;
  height: 29px;
  margin: 3px 323px 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.current-chapter {
  width: 126px;
  height: 18px;
  margin: 1px 86px 0 59px;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current-lesson {
  width: 212px;
  height: 21px;
  margin: 7px 0 4px 59px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.progressBar {
  width: 68px;
}

.comments-section {
  width: 73px;
  height: 19px;
  margin-left: -2.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}
.comments-section li {
  margin-right: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 12px;
  cursor: pointer;
}

.comments-section li:not(:last-child) {
  border-right: solid 1px #e8e8e8;
}

.comments-section li:not(:first-child) {
  margin-left: 2px;
}

.percent {
  width: 68px;
  height: 39px;
  margin: 1px 92px 0 11px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  width: 80px;
  height: 18px;
  margin: 7px 79px 12px 12px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.progress {
  display: flex;
  justify-content: space-between;
}

.update-progress-btn {
  width: 184px;
  height: 33px;
  margin: 12px 0 9px 59px;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: #0290ff;
  border: #0290ff
}

.update-progress {
  width: 143px;
  height: 18px;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
