@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

ul {
  display: flex;
  list-style: none;
}

.bookstore-heading li {
  padding-right: 10px;
  margin-right: 50px;
  width: 59px;
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  padding-top: 18px;
  cursor: pointer;
}

.bookstore-heading li:first-child {
  width: 250px;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  padding-top: 0;
}

.app-logo {
  width: 60px;
  vertical-align: middle;
  padding: 5px;
  margin-right: 23px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 60px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 18px;
}

.fa-user-circle {
  padding-top: 25px;
}

.content {
  background-color: #faf8f8;
  margin-top: -15px;
}

row {
  /* width: 1200px; */
  /* height: 170px; */
  /* margin-top: 40px; */
  /* width: 100%; */
  /* padding-top: 40px; */
  /* margin: 0 1px 15px 0; */
  /* padding: 32px 119px 26px 27px; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.category {
  width: 49px;
  height: 18px;
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  width: 197px;
  height: 29px;
  margin: 3px 323px 0 0;
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.percentage {
  width: 68px;
  height: 68px;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}

.current-chapter {
  width: 126px;
  height: 18px;
  margin: 1px 86px 0 59px;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current-lesson {
  width: 212px;
  height: 21px;
  margin: 7px 0 4px 59px;
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.progressBar {
  width: 68px;
}